
body {
  background-image: url("images/earth-image.png");
  background-size: 100%;
  font-family: sans-serif;
}

#start {
  background-color: blue;
  font-weight: bold;
  font-size: 18px;
  color: white;
  padding: 50px;
}

.timer {
  font-size: 30px;
  color: green;
  font-weight: bold;
}

.game-container {
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
}

.answer-container {
  font-size: 25px;
  font-weight: bold;
}

.user-correct {
  color: green;
}

.user-incorrect {
  color: red;
}

.unanswered {
  color: red;
}

.endGame {
  font-size: 25px;
  font-weight: bold;
}

#restart {
  padding: 20px;
  background-color: green;
  color: white;
  font-weight: bold;
}
